* {
    margin: 0px;
    padding: 0px;
}

:root {
    --background-color:-webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4)); /* Change this to your desired background color */
    --text-color: white; 
    --text-hover: #bc0af1; 
}