.card {
    font-size: 3rem;
    border: 2px solid gray;
    width: clamp(200px, 90%, 500px);
    padding: 20px;
    border-radius: 20px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 10px;
}

.card-content {
    font-size: 1rem;
    font-weight: 300;
  }

/* Media query for mobile screens (up to 767px) */
@media screen and (max-width: 800px) {
    .card {
        padding: 15px;
    }

    .card-title {
        font-size: 1.1rem;
    }
}