.markdown {
    margin: 20px 0;
}

.markdown p {
    text-align: justify;
}

.markdown h1 {
    margin: 25px 0;
    font-size: 2.5rem;
}

.markdown h2 {
    margin: 20px 0;
    font-size: 2rem;
}

.markdown h3 {
    margin: 15px 0;
    font-size: 1.7rem;
}

.markdown h4 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.markdown h5 {
    font-size: 1rem;
}

.markdown a {
    color: rgb(172, 172, 255);
}

.markdown ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
}

.markdown pre {
    background-color: #161b22;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}