* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  background-color: #121318;
}

.logo {
  font-size: 30px;
  font-family: sans-serif;
  background: var(--background-color);
  background-clip: text;
  animation: colorchange 100s infinite alternate;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 2px;
  width: 100%;
  display: flex;
  padding: 20px 20px;
  background-color: #121318;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid gray;
  z-index: 10;
}


menu{
  cursor: pointer;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 10;
}

.nav-login {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
ul,
ol {
  list-style: none;
}
.divider {
  height: 2rem;
  width: 1px;
  background-color: gray;
  margin: 1rem 0;
}
.actual-menu{
  height: 100vh;
  width: 100vw;
  background-color: #121318;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.close-menu{
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
  z-index: 10;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  font-size: 2rem;
  gap: 2rem;
}
.show{

 transform: translateX(100);
 transition: transform 0.5s ease-in-out;
}

.hide{
  transform: translateX(-100%);
 transition: transform 0.5s ease-in-out;

}

.navButton {
  background-color: --background-color;
  animation: colorchangeButton 100s infinite alternate;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
  color: white;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.loginButton {
  background-color: #c70880;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
  color: white;
  animation: colorchangeButton 100s infinite alternate;
  cursor: pointer;
}

.hoverText:hover {
  color: var(--text-hover);
  transition: color 0.2s;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  align-items: flex-start;
  gap: 60px;
}
.text2{

  background-color: #c70880;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
  color: white;
  animation: colorchangeButton 100s infinite alternate;
  cursor: pointer;
}

@keyframes colorchangeButton {
  0% {
    background-color: rgb(177, 55, 159);
  }

  10% {
    background-color: #f1c40f;
  }

  20% {
    background-color: rgb(241, 171, 39);
  }

  30% {
    background-color: #d35400;
  }

  40% {
    background-color: rgb(223, 63, 90);
  }

  50% {
    background-color: #c03131;
  }

  60% {
    background-color: rgb(188, 12, 241);
  }

  70% {
    background-color: rgb(188, 12, 241);
  }

  80% {
    background-color: rgb(188, 12, 241);
  }

  90% {
    background-color: #8e44ad;
  }

  100% {
    background-color: red;
  }
}

.text-para {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0px;
  z-index: 10;
  background-color: transparent;
}
.text-div {
  z-index: 10;
  text-align: center;
}

.text {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  background-clip: text;
  animation: colorchange 100s infinite alternate;

}


@keyframes colorchange {
  0% {
    color: rgb(177, 55, 159);
  }

  10% {
    color: #f1c40f;
  }

  20% {
    color: rgb(241, 171, 39);
  }

  30% {
    color: #d35400;
  }

  40% {
    color: rgb(223, 63, 90);
  }

  50% {
    color: #c03131;
  }

  60% {
    color: rgb(188, 12, 241);
  }

  70% {
    color: rgb(188, 12, 241);
  }

  80% {
    color: rgb(188, 12, 241);
  }

  90% {
    color: #8e44ad;
  }

  100% {
    color: red;
  }
}

.landing-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  gap: 3rem;
}


.anotherdiv {
  width: 500px;
  display: block;
  border: 1px solid var(--text-hover);
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 1000px) {
  .anotherdiv {
    display: none; /* Hide on tablets */
  }
}

/* Media query for mobile screens (up to 767px) */
@media screen and (max-width: 400px) {
  .anotherdiv {
    display: none; /* Hide on mobile */
  }
} 


.svg-container {
  border: 1px solid gray;
  background-color: transparent;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;  
}

.navbutton{
  background: initial;
  border: initial;
  color: initial;
}

.text-svg-container{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-svg-container h3 {
  background-color: transparent;
  font-size: 2rem;
}
.text-svg-container p {
  background-color: transparent;
  font-size: 0.8rem;
}

.rotate-svg {
  animation: rotating 150s infinite linear;
  background-color: transparent;
  width: 50%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
