*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

.main{
    padding-inline: 6rem;
    padding-block: 2rem;
    min-height: 100vh;

}


.navCreate{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.blogButton{
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  
}

.previewButton{
    background-color: white;
    color: black;
}

.createTag{
    font-size: 20px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
}