*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

.main{
    padding-inline: 6rem;
    padding-block: 2rem;
}

.form-handle{
    height: 100%;
    width: 100%;
   
}


.navCreate{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

textarea#blog-textarea {
    width: 100%;
    outline: none;
    height: 500px;
    font-size: 1.2rem;
    resize: none;
    margin-block: 20px; /* Prevent resizing of textarea */
    border: 2px solid gray;
    padding: 20px; /* Add padding to textarea */
    box-sizing: border-box; /* Include padding in the total height */
    font-size: 16px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif; /* Use a suitable font-family */
}

.Markdown-Div{
    margin: 30px;
}

.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.blogButton{
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  
}

.previewButton{
    background-color: #008080;
}

.createTag{
    font-size: 20px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
}