*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #121318;
    text-decoration: none;
}

.main{
    padding-inline: 6rem;
    padding-block: 2rem;
}

.form-handle{
    height: 100%;
    width: 100%;
   
}


.navCreate{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
textarea#blog-titlearea::placeholder{
    font-size: 3rem;
    font-weight: 500;
}

input#blog-titlearea {
    width: 100%;
    outline: none;
    height: 100px;
    resize: none;
    margin: 40px  0px 20px 0px; /* Prevent resizing of textarea */
    border: 2px solid gray;
    padding: 20px; /* Add padding to textarea */
    box-sizing: border-box; /* Include padding in the total height */
    font-size: 3rem; /* Adjust the font size as needed */
    font-weight: 300;
    font-family: Arial, sans-serif; /* Use a suitable font-family */
}
textarea#blog-textarea {
    width: 100%;
    outline: none;
    height: 500px;
    font-size: 1.2rem;
    resize: none;
    margin-block: 20px; /* Prevent resizing of textarea */
    border: 2px solid gray;
    padding: 20px; /* Add padding to textarea */
    box-sizing: border-box; /* Include padding in the total height */
    font-size: 16px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif; /* Use a suitable font-family */
}

.Markdown-Div{
    margin: 30px;
}

.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.blogButton,
.previewButton {
  padding: 10px 20px;
}
.blogButton:hover,
.previewButton:hover {
  background-color: #2563eb; 
  transition: background-color 0.2s; 
}

.blogButton{
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
  
}

.previewButton{
    background-color: #3b82f6;
}

.previewButton--inverted {
    background-color: #121318;
    outline: 2px solid #3b82f6;
}

.createTag{
    font-size: 20px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
}